body {
    margin: 0 auto;
}
nav {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
    background-color: black;
}

nav a{
text-decoration: none;
color: black;
border: 0.13em solid white;
color: white;
padding: 0.1em 1em;
border-radius: 0.5em;
}

nav a:hover {
    background-color: white;
    color: black;
}

section{
    margin-top: 5em;
    text-align: center;
}

section p {
    margin: 0;
    
}
section img {
    height: 20%;
    width: 30%;
    position: relative;
    bottom: 2%;

}
#social__btn{
    position: absolute;
    top: 8%;
    right: 1%;
}

#social__btn button{
    background-color: white;
}
#social__btn button:hover {
    background-color: black;
    color: white;
}

#social__media {
    display: none;
    flex-direction: column;

}

#social__media a {
    padding: 0.2em 0.4em;
    margin: 0.1em;
    color: black;
    border: 0.1em solid black;
    border-radius: 0.5em;
}

#social__media a:hover {
    background-color:black;
    color:white;
}

aside {
    text-align: center;
    margin-top: 2em;
}

aside a {
    border: 0.13em solid black;
    padding: 0.2em 1em;
    border-radius: 0.5em;
    text-decoration: none;
    color: black;
}

aside a:hover{
    background-color: black;
    color: white;
}