
body {
    margin: 0 auto;
    padding: 0;
}

*,
*::before,
*::after {
  /* Inkluderar padding och border i width och height utrökningar. */
  box-sizing: border-box;
}

.wrapper {    
    height: 100%;
}

#mainHeader {
    background-image: url("/img/headerBackground.jpg");
    background-position: center;
    min-height: 20em; 
    min-width: 100%;
}

.navbar-dark{
    padding: 2em;
    width: 100%;
    position: relative;
}

#menuButton{
    color: white;
    font-size: 2.5rem;
    position: absolute;
    right: 0.8em;
}

#menu {
    display: none;
    padding-top: 3.5em; 
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

main {
    padding: 1em 2em;
}

section {
  padding: 1em 2em;
  text-align: center;
}

.card-img {
    height: 30vh;
    width: 30vh;
    border-radius: 10em;
}

aside {
    padding: 1em 2em;
    text-align: center;
}

aside a {
    border: 0.13em solid 	#292b2c;
    padding: 0.2em 1em;
    border-radius: 0.5em;
    text-decoration: none;
    color: black;

}

#social__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    gap: 1em;
    padding: 1em;
}

#social__media a {
    padding: 0.3em 0.6em;
    color: white;
    border: 0.1em solid white;
    border-radius: 0.5em;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    min-height: 3em;
    background-color: #48606E;
    color: white;
}

footer p {
    padding-bottom: 1em;
    margin-top: 0;
    font-size: 1.4rem;
}