body {
    margin: 0 auto;
    padding: 0;
}

:root {
    /*background colors*/
    --clr-primary-dark: #141414;
    --clr-secondary-dark: #292929;
    --clr-sectioncolor-dark: #8b8a8a;
    --clr-sectioncolor-light: #a3a3a3;
    --clr-primary-light: #ebebeb;
    --clr-secondary-light: #e0e0e0;

    /*text- and linkcolors*/
    --clr-headline-large: white;
    --clr-sectiontext-primary: #e4e3e3;
    --clr-sectiontext-secondary: #1a1919;
    --clr-linkcolor-primary: #b4adad;
    --clr-linkcolor-secondary: rgb(147, 147, 187);
}

* *::before,
*::after {
    /* Inkluderar padding och border i width och height utrökningar. */
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    background-color: var(--clr-secondary-light);
}

.container {
    min-width: 100%;
    padding: 0;
    background-color: var(--clr-secondary-light);
}

header {
    background-color: var(--clr-secondary-dark);
    min-height: 8em;
    min-width: 100%;
}

#weather {
    padding: 1em;
    color: var(--clr-primary-light)
}

#temperature, 
#icon {
    display: inline-block;
}

#name {
    font-family: 'Ultra', serif;
    padding: 0.9em 0 0 0.3em;
    font-size: 2.4rem;
    color: var(--clr-primary-light);
}

#upButton {
    display: none;
    position: fixed;
    bottom: 0.6em;
    right: 0.8em;
    z-index: 99;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 0 0.4em;
    border-radius: 4px;
}

.navbar-dark {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-decoration: underline;
    padding: 2em 1.8em;
    min-width: 100%;
    background-color: var(--clr-secondary-light);
}

#menuButton {
    color: var(--clr-primary-textcolor);
    font-size: 2.5rem;
    position: absolute;
    right: 0.8em;
    top: 0em;
}

.menu {
    display: none;
}

.menu ul {
    margin-top: 2em;
    min-width: 100%;
}

.menu ul li {
    list-style: none;
    margin-top: 0.7em;
}

.right {
    text-align: end;
}

.menu a {
    text-decoration: none;
    color: var(--clr-primary-textcolor);
    font-size: 1.8rem;
}

#biography_section,
#cv__section,
#education,
#work {
    background-color: var(--clr-sectioncolor-light);
    padding: 1em;
}

#cv__section,
#work {
    background-color: var(--clr-sectioncolor-dark);
}

section p {
    color: var(--clr-sectiontext-secondary);
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

section h2 h3 h4 {
    font-family: 'Poppins', sans-serif;
}

section h2 {
    font-size: 2.2rem;
}

#portfolio {
    padding: 2em;
    margin: 0;
    background-color: var(--clr-midGrey);
}

#portfolio h1 {
    margin: 0 0 1em 0;
}

#portfolio button {
    border-radius: 0.5em;
    padding: 0.1em 2em;
    text-decoration: 0;
    color: var(--clr-secondary-dark);
}

.project {
    background-color: var(--clr-sectioncolor-light);
    margin: 0.2em;
    padding: 1em;
    border: 0.15em solid var(--clr-primary-light)
}

.col-12 {
    padding: 0.5em;
}

#education h2", 
#work h2,
#biography_section h2 {
    margin: 0 0 0.5em 0.5em;
}

#cv__section a {
    text-decoration: none;
    color: var(--clr-primary-textcolor);
    font-weight: 20%;
}

#contact {
    text-align: center;
}

#cv__section button {
    padding: 0.5em 1em;
    border: 0.11em solid var(--clr-primary-dark);
    font-size: 1.2rem;
    border-radius: 0.5em;
    margin: 0 0 1em 0;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

#contact a {
    color: var(--clr-linkcolor-primary);
    font-size: 3rem;
}

footer {
    background-color: var(--clr-primary-dark);
    text-align: center;
    min-height: 3em;
}

@media screen and (min-width: 768px) {

    header {
        min-height: 8em;
    }

    #upButton {
        display: none;
        position: fixed;
        bottom: 1.2em;
        right: 1em;
        padding: 0.2em 0.6em;

    }

    #name {
        font-size: 5rem;
    }

    #menuButton {
        display: none;
    }

    .menu {
        display: unset;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding: 0;
        margin: 0;
    }

    .menu ul li a {
        color: var(--clr-secondary-dark);
    }

    #biography_section,
    #cv__section,
    #education,
    #work {
        background-color: var(--clr-darkGrey);
        color: var(--clr-textcolor);
        border: 0.15em solid var(--clr-primary-dark);
        padding: 1em;
        min-height: 100%;
    }

    section p {
        color: var(--clr-sectiontext-secondary);
        font-size: 1.3rem;
        font-family: 'Poppins', sans-serif;
    }

    section h2 h3 h4 {
        font-family: 'Poppins', sans-serif;
    }

    section h2 {
        font-size: 2.5rem;
    }

    #biography_section,
    #cv__section {
        background-color: var(--clr-darkGrey);
    }

    #biography_section img {
        min-height: 30vh;
        min-width: 30vh;
    }

    #education,
    #work {
        background-color: var(--clr-midGrey);
    }

    #contact {
        display: flex;
        flex-direction: row;
        gap: 3em;
        padding: 2em 1em;
    }

    #contact a:hover {
        color: var(--clr-primary-light)
    }
}

@media screen and (min-width: 1200px) {

    #biography_section {
        display: flex;
        flex-direction: row;

    }

    #upButton {
        display: none;
        position: fixed;
        font-size: 2em;
        bottom: 0.8em;
        right: 1em;
    }

    #name {
        font-size: 6em;
    }

    .menu a:hover {
        color: var(--clr-linkcolor-primary);
    }

    section p {
        color: var(--clr-sectiontext-secondary);
        font-size: 1.3rem;
        font-family: 'Poppins', sans-serif;
    }

    section h2 h3 h4 {
        font-family: 'Poppins', sans-serif;
    }

    section h2 {
        font-size: 2rem;
    }
}